<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Home</title>
</head>

<body style="min-height: 100vh;" class="d-flex flex-column">
    <div th:replace="fragments/nav"></div>

    <div class="container w-50 my-auto ">
        <div class="rounded shadow p-3">
            <h1>Post Project</h1>
            <form th:action="@{/saveproject}" method="post" th:object="${project}">
                <div class="mb-3">
                    <label for="projectTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="projectTitle" th:field="*{projectTitle}"
                        th:errorclass="is-invalid">
                    <div class="invalid-feedback">
                        <span th:errors="*{projectTitle}"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="projectDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="projectDescription" rows="3" th:field="*{projectDescription}"
                        th:errorclass="is-invalid"></textarea>
                    <div class="invalid-feedback">
                        <span th:errors="*{projectDescription}"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" th:field="*{price}" id="price" th:errorclass="is-invalid">
                    <div class="invalid-feedback">
                        <span th:errors="*{price}"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="skill" class="form-label">Skills</label>
                    <select class="form-select" th:field="*{skill}" id="skill" th:errorclass="is-invalid">
                        <option th:each="sk : ${skills}" th:text="${sk.name}" th:value="${sk.id}">C++</option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:errors="*{skill}"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>