<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container-fluid">
            <a class="px-1 navbar-brand" th:href="#">
                <span class="h3 text-uppercase" style="color: rgb(73, 0, 204);">DELALA</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/projectList}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/createProject}">Create Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user-profile}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">Logout</form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>

<th:block sec:authorize="hasRole('ROLE_TALENT')">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container-fluid">
            <a class="px-1 navbar-brand" th:href="@{/home}">
                <span class="h3 text-uppercase" style="color: rgb(73, 0, 204);">DELALA</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user-profile}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">Logout</form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>

<th:block sec:authorize="hasRole('ROLE_EMPLOYER')">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container-fluid">
            <a class="px-1 navbar-brand" th:href="@{/myProjects}">
                <span class="h3 text-uppercase" style="color: rgb(73, 0, 204);">DELALA</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/myProjects}">My Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/createProject}">Create Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user-profile}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">Logout</form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>